In [1]:
# Vinicius Bezerra Pimentel
# Python Jupyter Notebook

In [2]:
#O script deve consumir uma API REST do IBGE e com sua resposta realizar uma conversão para um arquivo CSV 
#com a quantidade de estados por região
#Endpoint: https://servicodados.ibge.gov.br/api/v1/localidades/estados/

In [3]:
#Importar Bibliotecas
import requests
import json
import pandas as pd
import os

In [4]:
#chamada da API
request = requests.get("https://servicodados.ibge.gov.br/api/v1/localidades/estados/")

In [5]:
#carregar o json
r = json.loads(request.content)

In [6]:
print(r)

[{'id': 11, 'sigla': 'RO', 'nome': 'Rondônia', 'regiao': {'id': 1, 'sigla': 'N', 'nome': 'Norte'}}, {'id': 12, 'sigla': 'AC', 'nome': 'Acre', 'regiao': {'id': 1, 'sigla': 'N', 'nome': 'Norte'}}, {'id': 13, 'sigla': 'AM', 'nome': 'Amazonas', 'regiao': {'id': 1, 'sigla': 'N', 'nome': 'Norte'}}, {'id': 14, 'sigla': 'RR', 'nome': 'Roraima', 'regiao': {'id': 1, 'sigla': 'N', 'nome': 'Norte'}}, {'id': 15, 'sigla': 'PA', 'nome': 'Pará', 'regiao': {'id': 1, 'sigla': 'N', 'nome': 'Norte'}}, {'id': 16, 'sigla': 'AP', 'nome': 'Amapá', 'regiao': {'id': 1, 'sigla': 'N', 'nome': 'Norte'}}, {'id': 17, 'sigla': 'TO', 'nome': 'Tocantins', 'regiao': {'id': 1, 'sigla': 'N', 'nome': 'Norte'}}, {'id': 21, 'sigla': 'MA', 'nome': 'Maranhão', 'regiao': {'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}}, {'id': 22, 'sigla': 'PI', 'nome': 'Piauí', 'regiao': {'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}}, {'id': 23, 'sigla': 'CE', 'nome': 'Ceará', 'regiao': {'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}}, {'id': 24, 'sigla': 'RN', 'nome': 'Rio Grande do Norte', 'regiao': {'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}}, {'id': 25, 'sigla': 'PB', 'nome': 'Paraíba', 'regiao': {'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}}, {'id': 26, 'sigla': 'PE', 'nome': 'Pernambuco', 'regiao': {'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}}, {'id': 27, 'sigla': 'AL', 'nome': 'Alagoas', 'regiao': {'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}}, {'id': 28, 'sigla': 'SE', 'nome': 'Sergipe', 'regiao': {'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}}, {'id': 29, 'sigla': 'BA', 'nome': 'Bahia', 'regiao': {'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}}, {'id': 31, 'sigla': 'MG', 'nome': 'Minas Gerais', 'regiao': {'id': 3, 'sigla': 'SE', 'nome': 'Sudeste'}}, {'id': 32, 'sigla': 'ES', 'nome': 'Espírito Santo', 'regiao': {'id': 3, 'sigla': 'SE', 'nome': 'Sudeste'}}, {'id': 33, 'sigla': 'RJ', 'nome': 'Rio de Janeiro', 'regiao': {'id': 3, 'sigla': 'SE', 'nome': 'Sudeste'}}, {'id': 35, 'sigla': 'SP', 'nome': 'São Paulo', 'regiao': {'id': 3, 'sigla': 'SE', 'nome': 'Sudeste'}}, {'id': 41, 'sigla': 'PR', 'nome': 'Paraná', 'regiao': {'id': 4, 'sigla': 'S', 'nome': 'Sul'}}, {'id': 42, 'sigla': 'SC', 'nome': 'Santa Catarina', 'regiao': {'id': 4, 'sigla': 'S', 'nome': 'Sul'}}, {'id': 43, 'sigla': 'RS', 'nome': 'Rio Grande do Sul', 'regiao': {'id': 4, 'sigla': 'S', 'nome': 'Sul'}}, {'id': 50, 'sigla': 'MS', 'nome': 'Mato Grosso do Sul', 'regiao': {'id': 5, 'sigla': 'CO', 'nome': 'Centro-Oeste'}}, {'id': 51, 'sigla': 'MT', 'nome': 'Mato Grosso', 'regiao': {'id': 5, 'sigla': 'CO', 'nome': 'Centro-Oeste'}}, {'id': 52, 'sigla': 'GO', 'nome': 'Goiás', 'regiao': {'id': 5, 'sigla': 'CO', 'nome': 'Centro-Oeste'}}, {'id': 53, 'sigla': 'DF', 'nome': 'Distrito Federal', 'regiao': {'id': 5, 'sigla': 'CO', 'nome': 'Centro-Oeste'}}]

In [7]:
#converter json para dataframe
df = pd.json_normalize(r)

In [8]:
df.head(100)

    id sigla                 nome  regiao.id regiao.sigla   regiao.nome
0   11    RO             Rondônia          1            N         Norte
1   12    AC                 Acre          1            N         Norte
2   13    AM             Amazonas          1            N         Norte
3   14    RR              Roraima          1            N         Norte
4   15    PA                 Pará          1            N         Norte
5   16    AP                Amapá          1            N         Norte
6   17    TO            Tocantins          1            N         Norte
7   21    MA             Maranhão          2           NE      Nordeste
8   22    PI                Piauí          2           NE      Nordeste
9   23    CE                Ceará          2           NE      Nordeste
10  24    RN  Rio Grande do Norte          2           NE      Nordeste
11  25    PB              Paraíba          2           NE      Nordeste
12  26    PE           Pernambuco          2           NE      Nordeste
13  27    AL              Alagoas          2           NE      Nordeste
14  28    SE              Sergipe          2           NE      Nordeste
15  29    BA                Bahia          2           NE      Nordeste
16  31    MG         Minas Gerais          3           SE       Sudeste
17  32    ES       Espírito Santo          3           SE       Sudeste
18  33    RJ       Rio de Janeiro          3           SE       Sudeste
19  35    SP            São Paulo          3           SE       Sudeste
20  41    PR               Paraná          4            S           Sul
21  42    SC       Santa Catarina          4            S           Sul
22  43    RS    Rio Grande do Sul          4            S           Sul
23  50    MS   Mato Grosso do Sul          5           CO  Centro-Oeste
24  51    MT          Mato Grosso          5           CO  Centro-Oeste
25  52    GO                Goiás          5           CO  Centro-Oeste
26  53    DF     Distrito Federal          5           CO  Centro-Oeste

In [9]:
#quantidade de estado por região
estados = df.groupby(['regiao.nome'])['regiao.nome'].count().reset_index(name='Qtd. estados')
estados

    regiao.nome  Qtd. estados
0  Centro-Oeste             4
1      Nordeste             9
2         Norte             7
3       Sudeste             4
4           Sul             3

In [10]:
df = estados.rename(columns={"regiao.nome" : "Região"})
df

         Região  Qtd. estados
0  Centro-Oeste             4
1      Nordeste             9
2         Norte             7
3       Sudeste             4
4           Sul             3

In [11]:
df.dtypes

Região          object
Qtd. estados     int64
dtype: object

In [12]:
path = 'C:/csv' 
if not os.path.exists(path):
    os.makedirs(path)

In [13]:
arquivo = '/estados.csv'

In [14]:
print(path + arquivo)

C:/csv/estados.csv

In [15]:
#salvar em formato CSV separado por |
df.to_csv(path + arquivo, header = True, sep='|', encoding='utf-8', index=False)

In [16]:
### fim